language: objective-c
osx_image: xcode9.4
xcode_sdk: iphonesimulator11.4
xcode_project: GRSTextField.xcodeproj
xcode_scheme: GRSTextFieldTests
xcode_destination: platform=iOS Simulator,OS=11.4,name=iPhone X
env:
  global:
  - FRAMEWORK_NAME="GRSTextField"
cache:
  directories:
  - Carthage
before_install:
- brew update
- brew outdated carthage || brew upgrade carthage
before_deploy:
- carthage build --no-skip-current
- carthage archive $FRAMEWORK_NAME
notifications:
  slack:
    rooms:
      secure: ogl6P6WefOumYRAg2BTZThB9NDoRZCbalMQmdFCEiTUiXu99utAf4oBhhdLU3j59pxkR06ZRZgGYfKGux/s0QxHRFpSeEXWlPtZUhIPhQLq3SPwt6AqoXxN0yTpf36Gnh+jMyMKnU6XV6zbPGLF7MTKxpDhqb9byD1QhbO8H3zPH5SH8/33aHjGfC48gJW/BLwuPVoXu79q5MrhVmuYasJWurojpDRevd2SCRbExiqK+MkJZku+MP7jmRPjxWkxA8IL8KmD65HRq8aOlBhBgIRsUKqnDYLUjyPE1IZOF3GBkGWnjuNqiPvVPggp9pAMRkLFtlJagahlp88UKHjZv86cyprEAmU1Jh4gqS1ZQCjN2wQ3I1EhoE/pawsv94ZGke3gHIZG6fHa/nrnSMw/RGiTky0dyQcWKuVrILP0R3ke/CB5hM8Y0S+75zodfQlOCuAZ1AOe61+gMDBy+USzBwiTTPQHsDG2mxgq/12Z0rkYxrCUdP2sfDaYdMzj0qB5vOgUngS3k74dmucXR41A2kgEigymFE+CIrdGXnPJ2ZW3r4jm+8f6kLTnaLXiweKrsyRT/IDK1hPasruVWTxNdUQCDpZt347OyJ2dtnoGMxMvOU+aMrGebS/0GhuQW13GxuzOn6z+fH1JorZS6F3V05p2I60cq4qAlDMk8pG8NP5g=
    on_success: always
    on_pull_requests: false
    template:
    - "%{repository}"
    - 'Commit: %{commit}'
    - 'Message: %{message}'
    - 'Build details: %{build_url}'
deploy:
  provider: releases
  api_key:
    secure: oVoCEvAyLgX03SevUBibhfWAXZVpIaMcyP0aCGc9RV+Jxz2bn+1LPTughuHMnkc33NsXiAL/7uNLL9U6tFbiF7SvuMze48wGRe9WHVltQSFEko/ZTlBTTBP/MQi/wtdLktvLY22fulKHkQYOfByNha5S1TutW4Eiiyc4XOX9u03K+Y241XLHz8jZ/1ZF4qjWPGoO09ve9ND+zCLeDUIxVjo10ojjAw6wrjhdwqy9MZklTcQ/S1ukYI4fIQVgBJrXoBsbJ1hCroZITe5Y3hEcK0ldPuweiMcVUBrzC2ruyml3AiVIJdu/NTLbehCrYCDzZiJX3BnwSh9h+IE2OprEnggcNYN3xWeZjHnswnVGHQLG2y5Hu3jfGJDgU8qtXAf34sxfBL6g9w6HQoMxdMJ/+CLtD0sgBxidpVl/gqDs2bXJ3h9Kr7Y3zpd/pRgYfcn4t34wrx0Deg1hfs6R+avREeJZYTshW+12UhGHnGSPKUt8Twcu2GPqqpRSGB8XVdFoVDJ89ND1KmfQR3jBmldPbGJ1AvGXOqstuPc2Jbjb8Z14vXiljA2n/EqBNdzSVUY18O0r5OXZs7TBcg01FWRu9Cbe40WtXlgM4i+L+W9AlVCzfowYV6Ctm2a4XJJM1K456TTWJagN23VFfdDNj+3w4ptD6nU6FqeSfg+HLxmZkf0=
  file: "$FRAMEWORK_NAME.framework.zip"
  skip_cleanup: true
  on:
    repo: pogramos/GRSTextField
    tags: true
